## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [30]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [31]:
# Your code here

sample_list_1 = random.sample(range(80),80)

sample_list_1.sort()


print(sample_list_1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [32]:
# Your code here

sample_list_1 = set(sample_list_1)

set1= sample_list_1

len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [33]:
# Your code here

import random

sample_list_2 = []

for x in range(80):
    x = int(random.randrange(0,100))
    sample_list_2.append (x)
    
sample_list_2.sort()
print(sample_list_2)

[1, 3, 4, 4, 5, 8, 11, 11, 13, 13, 13, 14, 18, 19, 20, 20, 20, 22, 28, 28, 28, 29, 29, 30, 30, 31, 32, 33, 33, 33, 34, 34, 35, 36, 36, 37, 37, 38, 40, 45, 45, 47, 48, 49, 52, 57, 58, 60, 61, 63, 67, 69, 72, 72, 73, 73, 74, 74, 75, 76, 77, 77, 78, 82, 83, 84, 85, 90, 91, 91, 92, 92, 92, 93, 94, 95, 95, 96, 96, 97]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [34]:
# Your code here

sample_list_2 = set(sample_list_2)

set2= sample_list_2

len(set2)

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [35]:
# Your code here

set3= []

for i in set1:
    if i not in set2:
        set3.append(i)
        
set3 = set(set3)
print(set3)

{0, 2, 6, 7, 9, 10, 12, 15, 16, 17, 21, 23, 24, 25, 26, 27, 39, 41, 42, 43, 44, 46, 50, 51, 53, 54, 55, 56, 59, 62, 64, 65, 66, 68, 70, 71, 79}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [36]:
# Your code here+

set4= []

for i in set2:
    if i not in set1:
        set4.append(i)
        
set4 = set(set4)
print(set4)

{96, 97, 82, 83, 84, 85, 90, 91, 92, 93, 94, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [37]:
# Your code here

set5= []

set5 = set1.intersection(set2)

set5= set(set5)

print(set5)

{1, 3, 4, 5, 8, 11, 13, 14, 18, 19, 20, 22, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 45, 47, 48, 49, 52, 57, 58, 60, 61, 63, 67, 69, 72, 73, 74, 75, 76, 77, 78}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [38]:
# Your code here

print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
55
37
12
43

#### Create an empty set called `set6`.

In [39]:
# Your code here

set6 = []

set6 = set(set6)

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [40]:
# Your code here

set6.update(set3)
set6.update(set5)

print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79}

#### Check if `set1` and `set6` are equal.

In [41]:
# Your code here

if set1 == set6:
    print("equal")
else:
    print("not equal")

equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [42]:
# Your code here

z = set2.issubset(set1)

y = set3.issubset(set1)

print(z)
print(y)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [43]:
# Your code here

x =(set3.union(set4, set5))
print(x)

y =(set3.union(set1, set2))
print(y)

if x == y:
    print("equal")
else:
    print("not equal")

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 85, 90, 91, 92, 93, 94, 95, 96, 97}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 85, 90, 91, 92, 93, 94, 95, 96, 97}
equal

#### Using the `pop` method, remove the first element from `set1`.

In [44]:
# Your code here
set1.pop()
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [46]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)

print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78}